// Mobile SCSS Configurations
/* Widescreens */
@include mediaX{
}

/* Desktops & Laptops */
@include mediaLg{
}

/* Tablets & Small Laptops */
@include mediaMd{
    main{
        align-items: center;
        text-align: center;
        .lg-Heading{
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-Nav,
    div.menu-Brand{
        float: none;
        width: 100%;
        min-height: 0;
        &.show{
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-Nav{
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-Brand{
        height: 25vh;
        transform: translate3d(100%, 0, 0);
    }
    
    .portrait{
        background: url(me.jpg);
        width: 150px;
        height: 150px;
    }
    
    .info{
        // In order to stack the grid overlay. (visual order of strings)
        grid-template-areas:
            'bio-Img'
            'bio'
            'skill_1'
            'skill_2'
            'skill_3';
        grid-template-columns: 1fr; 
    }
}

/* Smartphones */
@include mediaSm{
    main#home h1{
        margin-top: 10vh;
    }
}